modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    inset: 0px;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0);
    @keyframes blur {
      0% {
        transform: scale(1) translateY(0px);
        backdrop-filter: blur(0px);
      }
      100% {
        transform: scale(1) translateY(0px);
        backdrop-filter: blur(1.5px);
        background: rgba(0, 0, 0, 0.3);
      }
    }
    animation: blur 0.2s linear forwards;
}

.modal__content {
    @keyframes anvil {
        0% {
          transform: scale(1) translateY(0px);
          opacity: 0;
        }
        1% {
          transform: scale(0.96) translateY(10px);
          opacity: 0;
        }
        100% {
          transform: scale(1) translateY(0px);
          opacity: 1;
        }
      }
      animation: anvil 0.1s cubic-bezier(0.3, 0.1, 0.36, 0.4) forwards;
}


body.hide-scroll {
    overflow: hidden;
}
